src/main/resources/dados.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           attributeFormDefault="unqualified">
    <!-- XML Schema Generated from XML Document on Tue Feb 03 2015 18:06:48 GMT-0200 (BRST) -->
    <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
    <xs:element name="dados">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="servicos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="servico" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="titulo" type="xs:string"/>
                                        <xs:element name="descricao" type="xs:string"/>
                                        <xs:element name="requisitos"/>
                                        <xs:element name="etapas"/>
                                        <xs:element name="canaisPrestacaoServico">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="canalPrestacaoServico">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="tipoCanalPrestacaoServico">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="titulo"
                                                                                        type="xs:string"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="descricao"
                                                                            type="xs:string"/>
                                                                <xs:element name="url" type="xs:string"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="taxa"/>
                                        <xs:element name="informacoesUteis"/>
                                        <xs:element name="compromissosAtendimento"/>
                                        <xs:element name="legislacoes"/>
                                        <xs:element name="palavrasChave"/>
                                        <xs:element name="orgaoResponsavel">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="titulo" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="orgaoPrestador">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="titulo" type="xs:string"/>
                                                    <xs:element name="endereco"/>
                                                    <xs:element name="telefone" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="publicosAlvo">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="publicoAlvo">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="titulo" type="xs:string"/>
                                                                <xs:element name="linhasDaViva">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="linhaDaVida">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element name="titulo"
                                                                                                    type="xs:string"/>
                                                                                        <xs:element
                                                                                                name="eventoslinhaDaVida">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element
                                                                                                            name="eventolinhaDaVida">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element
                                                                                                                        name="titulo"
                                                                                                                        type="xs:string"/>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="areasInteresse">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="area">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="titulo" type="xs:string"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="errosAcesso"/>
                                        <xs:element name="quantidadeAcessosServico" type="xs:int"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="orgaos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="orgao" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="codigo" type="xs:int"/>
                                        <xs:element name="nome" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ouvidorias">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ouvidoria" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="titulo" type="xs:string"/>
                                        <xs:element name="nomeOuvidor" type="xs:string"/>
                                        <xs:element name="email" type="xs:string"/>
                                        <xs:element name="pagina"/>
                                        <xs:element name="telefone" type="xs:string"/>
                                        <xs:element name="fax"/>
                                        <xs:element name="orgao">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="nome" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="portaisServico">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="portalServico" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="titulo" type="xs:string"/>
                                        <xs:element name="descricao" type="xs:string"/>
                                        <xs:element name="url" type="xs:string"/>
                                        <xs:element name="uf">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="sigla" type="xs:string"/>
                                                    <xs:element name="nome" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
