src/test-integration/resources/tipos-teste.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tipos="http://servicos.gov.br/tipos"
           version="1.0">

    <xs:import namespace="http://servicos.gov.br/tipos"
               schemaLocation="/cartaServicos/tipos.xsd"/>

    <xs:element name="link" type="tipos:link"/>

    <xs:element name="id" type="tipos:id"/>

    <xs:element name="textoCurto" type="tipos:textoCurto"/>
    <xs:element name="textoCurtoOpcional" type="tipos:textoCurtoOpcional"/>

    <xs:element name="textoLongo" type="tipos:textoLongo"/>
    <xs:element name="textoLongoOpcional" type="tipos:textoLongoOpcional"/>

</xs:schema>